# Python-specific gitignore
*.pyc
__pycache__/
*.pyo
*.pyd

# Streamlit-specific gitignore
streamlit_app/state
streamlit_app/__pycache__

# Data files
*.csv

# Compiled files
*.png
*.svg
*.pdf

# Temporary files
.DS_Store
*.swp
*~

venv/
